/*
 * Globals
 */


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}


/*
 * Base structure
 */

html,
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    h1,
    h2,
    h3 {
        font-family: 'PT Mono', monospace;
        font-weight: normal;
        font-style: normal;
        font-weight: 900;
    }
    @media (min-width:1024px) {}
    @media(max-width: 768px) {
        .col-md-8 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    @media (max-width:568px) {
        #ui-datepicker-div {
            max-width: 250px;
        }
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: $fondoGris;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(221, 20, 29, .25);
}

aside {
    position: absolute;
    right: 10px;
    top: 25%;
    img {
        max-width: 13px;
        width: 100%;
    }
    @media(max-width: 768px) {
        top: 10%;
        img {
            max-width: 8px;
            width: 100%;
        }
    }
}