header {
    position: fixed;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 220px;
        img {
            max-width: 250px;
            width: 100%;
            height: auto;
        }
    }
    .menu{
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
      
        span{
            font-size: 16px;
            font-weight: 400;
        }
    }
    @media(max-width: 568px) {
        .logo {
           
            width: 120px;
           
        
        }
    }
}